<div class="row">
  <div class="col-12">
    <button class="btn btn-primary">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-12 mt-4">
    <a href="javascript:void(0)" class="list-group-item clearfix" *ngFor="let recipe of recipes" >
      <div class="row">
        <div class="col-7">
          <h4 class="list-group-item-heading">{{recipe.name}}</h4>
          <p class="list-group-item-text">{{recipe.description}}</p>
        </div>
        <div class="col-5">
          <span class="float-right">
            <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive" style="max-height: 50px">
          </span>
        </div>
      </div>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>